#h_menu{
	list-style-type:none;
	padding:0px;
	width:1200px;
}
#h_menu li{
	width:200px;
	float:left;
}

#h_menu li a{
	text-decoration:none;
	font-family:Verdana;
	font-size:80%;
	color:#080;
	background:#cca;
	height:30px;
	display:block; 
	margin-right:1px;
	padding-left:10px;
	line-height:30px;
	
}

#h_menu li a:visited{
	color:#060;
}
#h_menu li a:hover{
	color:#cca;
	background:#080;
}